<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>florian.todo</string>
	<key>connections</key>
	<dict>
		<key>41FCE8C0-F55E-4DAB-A86E-8A7140C025A8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6A523FAA-9A60-420A-AC99-FE854FFF2BB5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>77B29957-ED81-4107-9F57-829BA8D8651E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>83E3A58A-C181-4B75-9696-029018B9C237</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>83E3A58A-C181-4B75-9696-029018B9C237</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>41FCE8C0-F55E-4DAB-A86E-8A7140C025A8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Florian Pellet</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Todo</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>tell application "Alfred 2" to run trigger "recall" in workflow "florian.todo"</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>6A523FAA-9A60-420A-AC99-FE854FFF2BB5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>todo</string>
				<key>script</key>
				<string>php s.php "{query}"</string>
				<key>title</key>
				<string>todo</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>83E3A58A-C181-4B75-9696-029018B9C237</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>php action.php "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>41FCE8C0-F55E-4DAB-A86E-8A7140C025A8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>recall</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>77B29957-ED81-4107-9F57-829BA8D8651E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>41FCE8C0-F55E-4DAB-A86E-8A7140C025A8</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>6A523FAA-9A60-420A-AC99-FE854FFF2BB5</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>77B29957-ED81-4107-9F57-829BA8D8651E</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>83E3A58A-C181-4B75-9696-029018B9C237</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>florianpellet.com</string>
</dict>
</plist>
